:root.theme-dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --title-color: #db00ff;
  --decor-color: #ff0070;
  --bg-img: url("../images/cover-image-dark.png");
  --title-text-color: #000028;
  --subtitle-color: #ff0070;
  --button-color: #ff0070;
  --title-shadow: 4px 4px 0 #ff0070;
  --footer-shadow: 2px 2px 0 #ff0070;
  --link-shadow: 2px 2px 0 #ff0070;
  --button-color-hover: #ff007066;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --text-color: #f1b2ce;
    --background-color: #000028;
    --title-color: #db00ff;
    --decor-color: #ff0070;
    --bg-img: url("../images/cover-image-dark.png");
    --title-text-color: #000028;
    --subtitle-color: #ff0070;
    --button-color: #ff0070;
    --title-shadow: 4px 4px 0 #ff0070;
    --footer-shadow: 2px 2px 0 #ff0070;
    --link-shadow: 2px 2px 0 #ff0070;
    --button-color-hover: #ff007066;
  }
  .theme-auto .rec-decor {
    display: block;
  }
}

.theme-dark .rec-decor {
  display: block;
}
