:root.theme-dark {
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --title-color: #db00ff;
  --decor-color: #FF0070;
  --bg-img: url('../images/cover-image-dark.png');
  --tt-color: #000028;
  --tt2-color: #FF0070;
  --button-color: #FF0070;
  --title-shadow: 4px 4px 0 #FF0070;
  --link-shadow: 2px 2px 0 #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --text-color: #F1B2CE;
    --background-color: #000028;
    --title-color: #db00ff;
    --decor-color: #FF0070;
    --bg-img: url('../images/cover-image-dark.png');
    --tt-color: #000028;
    --tt2-color: #FF0070;
    --button-color: #FF0070;
    --title-shadow: 4px 4px 0 #FF0070;
    --link-shadow: 2px 2px 0 #FF0070;
  }
}
