:root.theme-light {
  --accent-color: #FFC2E6;
  --text-color: #000000;
  --background-color: #FFFFFF;
  --title-color: #000000;
  --decor-color: #000000;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FFC2E6;
    --text-color: #000000;
    --background-color: #FFFFFF;
    --title-color: #000000;
    --decor-color: #000000;
  }
}
