/* Обертка для контента (прокручивается) */
.content-wrapper {
  position: relative;
  min-height: 100vh;
  z-index: 1;
  padding: 0 var(--page-padding);
}

.page {
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--text-color);
  background-color: var(--background-color);
  max-inline-size: 1440px;
  margin: 0 auto;
  background-image: var(--bg-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  height: 100vh;
  min-height: var(--header-min-height);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: start;
  padding: var(--page-padding) 0;
}

/* Кнопки тем */
.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
  .header__theme-menu {
    justify-self: center;
    margin-top: 0;
    align-self: start;
  }
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  padding: 1px 13px;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.rec-decor {
  display: none;
  text-transform: uppercase;
  justify-self: end;
  position: absolute;
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  color: var(--decor-color);
  right: 10px;
}

.rec-decor::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  color: var(--title-color);
  text-shadow: var(--title-shadow);
  line-height: 0.85;
  margin-block-start: 0;
  justify-self: start;
  align-self: center;
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    inset-inline-end: 20px;
    position: relative;
  }
}

.header__description {
  justify-self: center;
  max-width: 50%;
  min-inline-size: 355px;
  align-self: center;
}

@media (min-width: 768px) {
  .header__description {
    justify-self: end;
  }
}

.header__description-text {
  font-weight: 700;
}

/* Декоративные уголки */
.decorated-zone {
  position: relative;
}

.decorated-corner {
  position: absolute;
  width: 25px;
  height: 25px;
  border-style: solid;
  border-color: var(--decor-color);
  border-width: 0;
}

.decorated-corner_top-right {
  top: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  right: 0.1%;
  border-top-width: 1px;
  border-right-width: 1px;
}

.decorated-corner_bottom-left {
  bottom: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  border-bottom-width: 1px;
  border-left-width: 1px;
  left: 1px;
}

/* Основные секции */
.main {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  margin: 40px 0;
}

@media (min-width: 768px) {
  .main {
    margin: 60px 0 60px 0;
  }
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--card-gap);
}

@media (min-width: 1024px) {
  .section__content_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--card-gap);
  }
}

.section__title {
  font-size: var(--main-font-size);
  font-weight: bold;
  color: var(--subtitle-color);
  margin-block-end: 20px;
}

.section__title_wide {
  grid-column: 1 / -1;
}

@media (min-width: 768px) {
  .section__title_wide {
    width: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem);
  }
}

.grid-gap {
  display: grid;
  row-gap: 20px;
}

@media (min-width: 768px) {
  .section {
    grid-template-columns: 1fr 2.03fr;
  }

  .section__content {
    grid-column: 2 / 3;
  }

  .grid-gap {
    gap: var(--card-gap);
  }
}

/* Карточки */
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 315px;
}

.card__title {
  font-size: var(--main-font-size);
  font-weight: bold;
  line-height: 23.4px;
}

.card__title_light {
  font-weight: normal;
}

.card__text {
  font-size: var(--main-font-size);
  line-height: 23.4px;
}

/* Утилита для фона */
.title-decor {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

/* Галерея */
.gallery {
  gap: 10px;
  margin-block-start: var(--card-gap);
  display: grid;
  align-items: stretch;
}

@media (min-width: 768px) {
  .gallery {
    gap: 20px;
    grid-template-areas:
      "img1 img1 img2"
      "img3 img4 img2"
      "img3 img5 img5";
  }
  .sunset {
    grid-area: img1;
  }
  .ice-cream {
    grid-area: img2;
  }
  .tape {
    grid-area: img3;
  }
  .books {
    grid-area: img4;
  }
  .street {
    grid-area: img5;
  }
}

.section__gallery-title {
  font-size: var(--main-font-size);
  font-weight: bold;
  margin-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

/* Footer */
.footer {
  position: relative;
  height: 100vh;
  min-height: var(--footer-min-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  color: var(--title-color);
  text-shadow: var(--footer-shadow);
  line-height: 0.85;
  text-align: center;
}

@media (min-width: 768px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .footer__title {
    text-shadow: 2px 2px 0 #ff0070;
  }
}
